article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: linear-gradient(to right,#fff,rgb(248, 188, 188));
}
body{
	background:#fff;
	background: linear-gradient(to right,#fff,rgb(248, 188, 188));
}
.nav-items {
}

.bg-dark {
  background-color: #5f004c!important;
  padding-left: -36px;
  padding-right: -18px;
}

.navbar-dark .navbar-brand {
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  filter: brightness(114%);
  margin-right: 3px;
}

.navbar-extra {
  margin-right:20px;
  font-weight: 500;
  border-right: 1px solid white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(95,0,76)!important;
  background-color: #ffffff;
  border: transparent;
  border-radius: 22px;
  opacity: 1;
  font-weight: 600;
}


body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: black;
	background-color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

button:focus {
	outline: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
}

.js .loading::after {
	background: url(../img/electric-guitar.svg) no-repeat 50% 50%;
	background-size: 5em;
	pointer-events: none;
	opacity: 0.1;
	animation: loaderAnim 1s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: white;

}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: block;
}

.grid {
	margin: 20em auto 1em;
	position: relative;
	padding: 0 1em;
	width: 100%;
	max-width: 1200px;
	display: grid;
	grid-gap:10px;
	grid-template-columns: repeat(2,1fr);
}

.grid__item {
	padding: 0 6vw;
	margin: 0 0 25vh;
}

.grid__item .product {
	margin-top: -8em;
}

.product {
	height: 100%;
	padding-top: 10em;
	position: relative;
	cursor: pointer;
}

.product__bg {
	height: 15em;
	background: #c9c4c4;
	position: relative;
	border-bottom-left-radius: 30%;
}

.product__img {
	border-radius:20px;
	border-bottom-left-radius:30%;
	height: 20em;
	width: 20em;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	pointer-events: none;
	transform: translate3d(-50%,0,0);
}

.product__title {
	position: relative;
	margin: 0.5em 0 0 3.5em;
	font-size: 2em;
	color: black;
	font-family: "Playfair Display", serif;
	font-weight: 700;
}

.product__subtitle {
	position: relative;
	margin: 0.2em 0 0 10em;
	text-transform: uppercase;
	color: black;
	font-size: 0.85em;
	letter-spacing: 0.115em;
}

.product:hover .product__subtitle {
	color: grey;
}

.product__description,
.product__price,
.product_button {
	opacity: 0;
	position: absolute;
}

.details {
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	padding: 40vh 0 10vh 10vw;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
}

.details--open {
	pointer-events: auto;
}

.details > * {
	position: relative;
	opacity: 0;
}

.details__bg {
	width: 100%;
	position: fixed;
	left: 0;
}

.details__bg--up {
	top: 0;
	height: 100vh;
	background: #f5f0ef;
}

.details__bg--down {
	top: 40vh;
	height: 60vh;
	background: #f5f0ef;
}

.details__img {
	position: absolute;
	top: 10vh;
	right: 10vw;
	border-radius:20px;
	border-bottom-left-radius: 15%;
	width:30vw;
	height: 60vh;
}

.details__bg,
.details__img {
	transform-origin: 0 0;
}

.details__title {
	margin: -1.5em 0 0.1em;
	font-size: 4.5em;
	color: black;
	font-family: "Playfair Display", serif;
	font-weight: 700;
}

.details__subtitle {
	text-transform: uppercase;
	margin: 0.75em 0 1em 0;
	letter-spacing: 0.115em;
	font-size: 1.75em;
	color: rgba(0,0,0,0.7);
}

.details__description {
	line-height: 1.5;
	font-weight: bold;
	max-width: 50%;
	margin: 2em 0 0 0;
	color: black;
}

.details__price {
	font-size: 3em;
	font-weight: bold;
	color: rgb(173, 36, 36);
}

.details__addtocart {
	border: 0;
	margin: auto 0 10em 0;
	background: green;
	color: white;
	padding: 0.75em 2em;
	font-weight: bold;
}

.details__addtocart:hover {
	background:green;
	color: black;
}

.details__close {
	position: absolute;
	top: 10vh;
	right: 0;
	border: 0;
	background: none;
	margin: 1em;
	cursor: pointer;
	font-size: 0.85em;
	color: black;
}

.dummy-menu {
	border: 0;
	background: none;
	padding: 0;
	margin: 2.75em 2.5em 0 0;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 0.85em;
	color: black;
	cursor: pointer;
	z-index: 1000;
}
/*
.details__magnifier {
	border: 0;
	background: none;
	background: black;
	color: white;
	padding: 1em;
	border-radius: 50%;
	position: absolute;
	z-index: 1000;
	right: calc(21.5vh + 10vw);
	top: 75vh;
	cursor: pointer;
}

.details__magnifier:hover {
	background: grey;
}

.details__deco {
	width: 7em;
	height: 20px;
	background-position: 50% 97%;
	background-size: 150%;
}
*/

@media screen and (max-width: 40em) {
	.grid {
		padding: 0 1vw;
	}
	.grid__item {
		padding: 0 2vw;
	}
	.product__bg {
		height: 10em;
	}
	.product__img {
		max-height: 19em;
	}
	.product__title {
		font-size: 1.25em;
	}
	.product__subtitle {
		font-size: 0.75em;
	}
	.details {
		padding: 30vh 0 5vh 10vw;
	}
	.details__bg--down {
		top: 30vh;
		height: 70vh;
	}
	.details__title {
		font-size: 2em;
	}
	.details__subtitle {
		font-size: 1em;
	}
	.details__price {
		font-size: 1.5em;
	}
	.details__description {
		max-width: 75%;
		font-size: 0.85em;
		margin: 1em 0 0 0;
	}
	/*
	.details__deco {
		height: 7px;
		width: 4em;
	}*/
	.details__img {
		right: -12vh;
	}
	/*.details__magnifier {
		right: 7vh;
	}*/
	.codrops-header {
		padding: 1em 4em;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
		font-size: 1.25em;
	}
	.dummy-menu {
		margin: 1.75em 1.5em 0 0;
	}
}

@media only screen and (max-width: 920px)  {
	.product__title {
		position: relative;
		margin: 0.5em 0 0 4em;
		font-size: 1.5em;
		color: black;
		font-family: "Playfair Display", serif;
		font-weight: 700;
	}
	
	.product__subtitle {
		position: relative;
		margin: 0.2em 0 0 7em;
		text-transform: uppercase;
		color: black;
		font-size: 0.85em;
		letter-spacing: 0.115em;
	}
	.details__price {
		font-size: 2em;
		font-weight: bold;
		color: rgb(173, 36, 36);
	}
	.product__img {
		height: 18em;
		width: 18em;
	}
	.details__img {
		position: absolute;
		top: 20vh;
		right: 10vw;
		width:25vw;
		height: 50vh;
	}
}

@media only screen and (max-width: 600px)  {
	.grid {
		margin: 15em auto 1em;
		position: relative;
		padding: 0 1em;
		width: 80%;
		max-width: 600px;
		display: grid;
		grid-gap:10px;
		grid-template-columns: repeat(1,1fr);

	}
	.product__title {
		position: relative;
		margin: 0.5em 0 0 5.25em;
		font-size: 2em;
		color: black;
		font-family: "Playfair Display", serif;
		font-weight: 700;
	}
	.details__bg--down {
		top: 45vh;
		height: 55vh;
		background: #f5f0ef;
	}
	.product__subtitle {
		position: relative;
		margin: 0.2em 0 0 9.5em;
		text-transform: uppercase;
		color: black;
		font-size: 0.85em;
		letter-spacing: 0.115em;
	}
	.details__price {
		font-size: 2em;
		font-weight: bold;
		color: rgb(173, 36, 36);
	}
	.details__title {
		margin: 1em 0 1em;
		font-size: 2.5em;
		color: white;
		font-family: "Playfair Display", serif;
		font-weight: 700;
	}
	
	.details__subtitle {
		text-transform: uppercase;
		margin: 1em 0 1em 0;
		letter-spacing: 0.1em;
		font-size: 1.25em;
		color: rgba(0,0,0,0.7);
	}
	
	.details__description {
		line-height: 1.5;
		font-weight: bold;
		max-width: 75%;
		margin: 0.5em 0 3em 0;
		color: black;
	}

	.product__bg {
		height: 15em;
		background: #c9c4c4;
		position: relative;
		border-bottom-left-radius: 20%;
	}
	
	.product__img {
		height: 19em;
		width: 19em;
	}
	.details__img {
		position: absolute;
		filter: brightness(40%);
		top: 5vh;
		left: 0vw;
		width:100vw;
		height: 40vh;
	}
}

@media only screen and (max-width: 400px)  {
	.grid {
		margin: 15em auto 1em;
		position: relative;
		padding: 0 1em;
		width: 95%;
		max-width: 600px;
		display: grid;
		grid-gap:10px;
		grid-template-columns: repeat(1,1fr);

	}
	.product__title {
		position: relative;
		margin: 0.5em 0 0 3.25em;
		font-size: 1.5em;
		color: black;
		font-family: "Playfair Display", serif;
		font-weight: 700;
	}
	.product__subtitle {
		position: relative;
		margin: 0.2em 0 0 5.75em;
		text-transform: uppercase;
		color: black;
		font-size: 0.85em;
		letter-spacing: 0.105em;
	}
	.product__bg {
		height: 8em;
		background: #c9c4c4;
		position: relative;
		border-bottom-left-radius: 25%;
	}
	
	.product__img {
		height: 14em;
		width: 14em;
		border-radius: 10px;
		border-bottom-left-radius: 30%;
	}
	.details__bg--down {
		top: 45vh;
		height: 55vh;
		background: #f5f0ef;
	}
	.details__price {
		font-size: 1.25em;
		font-weight: bold;
		color: rgb(173, 36, 36);
	}
	.details__title {
		margin: -0.5em 0 0.1em;
		font-size: 2em;
		color: white;
		font-family: "Playfair Display", serif;
		font-weight: 700;
	}
	
	.details__subtitle {
		text-transform: uppercase;
		margin: 3em 0 1.5em 0;
		letter-spacing: 0.05em;
		font-size: 0.8em;
		color: rgba(0,0,0,0.7);
	}
	
	.details__description {
		line-height: 1.5;
		font-weight: bold;
		font-size: 0.8em;
		max-width: 75%;
		margin: 1em 0 3em 0;
		color: black;
	}

	.details__img {
		position: absolute;
		top: 5vh;
		left: 0vw;
		width:100vw;
		height: 30vh;
	}
}